:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  background-color: white;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.top {
  position: relative;
  display: flex;
  height: 600px;
  align-items: center;
  color: white;
}

#particle {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.overlay {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(26 20 59 / 50%);
  z-index: 20;
}

.wrapper {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
}

.bring-front {
  z-index: 99;
}

.top h1 {
  margin: 0 0 1.2em 0;
  font-size: 3rem;
  text-transform: uppercase;
}

span.orange {
  color: #febc4e;
}

.top p {
  font-size: 1.2rem;
  font-weight: 600;
}

.spacer {
  display: block;
  height: 95px;
}

.section-header {
  font-size: 2rem;
  font-weight: 700;
}

.items {
  display: block;
  width: 100%;
  max-width: 80%;
}

.items.left {
  margin-right: auto;
}

.items.right {
  margin-left: auto;
}

.items .item {
  display: grid;
  grid-template-columns: 150px 1fr;
  margin-bottom: 30px;
  background: #112158;
  color: white;
  padding: 15px;
  border-radius: 12px;
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.items .item__with-header {
  margin-bottom: 30px;
  background: #112158;
  color: white;
  padding: 15px;
  border-radius: 12px;
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.items .item__with-header h3 {
  margin: 0;
}

.items .item__with-header>div {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.items .item__with-header>div>img {
  width: 55%;
  display: flex;
  align-self: center;
  justify-self: center;
}

.item-table {
  margin-bottom: 30px;
  background: #112158;
  color: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.items .item:last-child {
  margin-bottom: 0;
}

.items .item img {
  width: 55%;
  display: flex;
  align-self: center;
  justify-self: center;
}

section:not(.top) {
  position: relative;
  margin: 5em 0;
}

/* section {
  position: relative;
  margin: 5em 0;
} */

section>img {
  position: absolute;
  top: 50%;
  width: 100%;
  max-width: 37vw;
}

section>img.right {
  right: 3vw;
  transform: translateY(-50%);
}

section>img.left {
  left: 3vw;
  transform: translateY(-50%);
}

.three .section-header,
.three .items {
  max-width: 36vw;
  margin-left: auto;
}

.section-header.right {
  display: block;
  width: 100%;
  max-width: 80%;
  margin-left: auto;
}

table,
th,
td {
  border: 2px solid #febc4e;
  border-collapse: collapse;
}

table td {
  padding: 8px;
}

/* .two>img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
  max-width: 40vw;
} */

/* .items .item img {
  flex: 1;
} */


footer {
  background: #1a252f;
  margin-top: 5em;
  padding: 2em 0 6em 0;
  gap: 1em;
}

footer ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

footer .links {
  color: white;
}

footer ul li {
  margin-bottom: 8px;
}

footer ul li:last-child {
  margin-bottom: 0;
}

footer ul li a {
  text-decoration: none;
}

footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}

footer .members {
  color: white;
}
